@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Leave Application</h2>
    <hr />
    <h3>⛵🏔🌤 Your Gateway to Getaway 🚢✈🌴</h3>
</div>

<hr />
<a class="nav-link text-lg-center" style="font-size:xx-large" asp-area="" asp-controller="Home" asp-action="LeaveRequest">Submit Leave Request</a>
<a class="nav-link text-lg-center" style="font-size:xx-large" asp-area="" asp-controller="Home" asp-action="LeavesList">Approve Leave Request</a>
